body
{
	background-color: #404040;
	font-family: 'Lato', sans-serif;
}

#container
{
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	color: white;
	margin-top: 20px;
	font-size: 30px;
	letter-spacing: 3px;
	font-weight: 900;
	text-align:center;
}

#menu
{
	background-color: #303030;
	margin-top: 20px;
	color: #ffffff;
	padding: 10px;
}

#topbar
{
	float:left;
	background-color:#128870;
	color:white;
	padding:10px;
	margin-top:20px;
	margin-bottom:25px;
	height:170px;
}

#topbarL
{
	float:left;
	padding: 20px;
	width: 170px;
	height: 140px;
	/*text-align: center;*/
	border-right: 2px dotted #cccccc;
	margin-top: -5px;
	margin-left: 0px;
}

#topbarR
{
	float:inline-start;
	padding: 20px;
	width: 1340px;
	font-size: 25px;
	text-align: center;
	text-align-last: initial;
}

#sidebar
{
	float: left;
	width: 180px;
	min-height: 620px;
	padding:20px;
	background-color: lightgray;
	text-align: center;
	font-size: 15px;
	border-right: 2px dotted #666666;
	
}

#sidebarerror
{
	font-size: 13px;
}

#content
{
	float: left;
	padding: 40px;
	width: 1098px;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
	color:black;
}

#allcontent  
{
	float:left;
	min-height: 580px;
	/*color:red;*/
}

#footer
{
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 15px;
}

.option
{
	float: left;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-right: 2px dotted #444444;
	opacity: 0.8;
}

.option:hover
{
	background-color: #000000;
	cursor: pointer;
}

.optionL
{
	font-size:16px;
	height:25px;
	padding: 5px;
	/*border-bottom: 2px dotted #444444;*/
	background-color: #404040;
}

.optionL:hover
{
	background-color: #f36742;
	color: white;
	cursor: pointer;
}
a:link
{
	color: white;
}
a:visited 
{
	color: white;
}
a:hover 
{
	color: black;
}

  input[type=button], input[type=submit], input[type=reset] {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
  }

  .optionLregister
  {
	font-size:16px;
	height:45px;
	padding: 5px;
	background-color: #404040;
  }

  #contentraport
{
	float: left;
	padding: 40px;
	width: 1320px;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
}

#optionraport /*przycisk wyloguj się*/
{
	background-color: #303030;
	margin-top: 10px;
	color: #ffffff;
	/*padding: 10px;*/
	text-align: right;
	font-size:18px;
}

#homemoney
{
	margin-top: 30px;
	text-align:center;
}

#homemoneyregister
{
	margin-top: -380px;
	text-align:right;
}

#kontaktphoto
{
	margin-top:-340px;
	margin-left:-230px;
}

#raportclean:link
{
	color:black !important;
}

#raportclean:hover
{
	color:white !important;
}